
div {
    .seccion-1 {

        @media screen and (max-width: 480px) {
            width: 100%;
            height: 530px;
        }
        
        background: url(../src/background-one.gif);
        background-position-y: 75%;
        background-size: cover;
        
        width: 100%;
        height: 445px;

        
    
        div {
        
            h1 {
                font-family: 'Anton', sans-serif;
                height: 80px;
                font-size: 4em;
                color: honeydew;
                text-align: center;
                letter-spacing: 2px;
            }
        }
    
        .lorem-container{

            
        
            .lorem1 {
                display: flex;
                width: 100%;
                font-size: 1.5em;
                color: rgb(250, 239, 218);
                text-align: center;
                letter-spacing: 1px;

                @media screen and (max-width: 767px) {
                    font-size: 18px;
                    padding-top: 100px;
                }
            }
        }    
    }

    .button1-container {

        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;

    

        button {
            top: 40px;
            width: 240px;
            height: 61px;
            border-radius: 30px; 
        }
    
        .button1 {
            background-color: honeydew;
            font-size: 20px;
        }
    
        .button2 {
            background-color: black;
            color: honeydew;
            font-size: 20px;
        }
    }
}